<!-- TODO: change when functionality is added -->

<div class="main flex">
  <div class="image">
    <%= image_tag 'fallback/thumb_default', class: 'resize-image-to-card' %>

    <div class="image-info">
      <p>Item: My item</p>
      Owner: User 1
    </div>
  </div>

  <div class="image">
    <%= image_tag 'fallback/thumb_default', class: 'resize-image-to-card' %>

    <div class="image-info">
      <p>Item: My item</p>
      Owner: User 2
    </div>
  </div>

  <div class="image">
    <%= image_tag 'fallback/thumb_default', class: 'resize-image-to-card' %>

    <div class="image-info">
      <p>Item: My item</p>
      Owner: User 3
    </div>
  </div>

  <div class="image">
    <%= image_tag 'fallback/thumb_default', class: 'resize-image-to-card' %>

    <div class="image-info">
      <p>Item: My item</p>
      Owner: User 4
    </div>
  </div>

  <div class="image">
    <%= image_tag 'fallback/thumb_default', class: 'resize-image-to-card' %>

    <div class="image-info">
      <p>Item: My item</p>
      Owner: User 5
    </div>
  </div>

  <div class="image">
    <%= image_tag 'fallback/thumb_default', class: 'resize-image-to-card' %>

    <div class="image-info">
      <p>Item: My item</p>
      Owner: User 6
    </div>
  </div>
</div>
