<!DOCTYPE html>
<html>
  <head>
    <title>Photo Lair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex lined-nav">
      <%= link_to 'ClothesLine', '#', class: 'nav-right-padding no-line-link' %>
      <%= link_to 'Find clothes', '#', class: 'nav-right-padding no-line-link' %>
      <%= link_to 'My wardrobe', '#', class: 'nav-right-padding no-line-link' %>
      <%= link_to 'Profile', '#', class: 'pull-right no-line-link' %>
    </div>
    <div class="bottom-border-with-margin"></div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
