<!DOCTYPE html>
<html>
  <head>
    <title>Photo Lair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex lined-nav">
      <%= link_to 'ClothesLine', root_path, class: 'nav-right-padding no-line-link' %>
      <%= link_to 'Find clothes', '#', class: 'nav-right-padding no-line-link' %>
      <%= link_to 'My wardrobe', photos_path(wardrobe: current_user.id), class: 'nav-right-padding no-line-link' %>
      <div class="pull-right">
        <%= link_to 'Profile', '#', class: 'nav-right-padding no-line-link' %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-right-padding no-line-link' %>
      </div>

    </div>
    <div class="bottom-border-with-margin"></div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
